:root {
    --default-padding: 20px;
    --border-radius: 15px;
    --border: 2px solid rgb(12, 40, 41);
}

body {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    /* justify-self: center; */
    position: relative;
    width: 20vw;
    height: 50vh;
    /* max-height: max-content; */
    padding: var(--default-padding);
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-sizing: border-box;

    background-color: rgb(111, 94, 209);
}

.display {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: flex-end;
    width: 95%;
    padding: var(--default-padding);
    margin-bottom: var(--default-padding);
    border: var(--border);
    border-radius: var(--border-radius);

    background-color: cadetblue;
}

.btn__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: max-content;

    font-size: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20%;
    margin-bottom: var(--default-padding);
    border: var(--border);
    border-radius: var(--border-radius);

    font-size: 95%;

    transition: background-color .2s;
}

.btn:active {
    background-color: rgb(204, 199, 233);
}