:root {
    --default-padding: 20px;
    --border-radius: 15px;
    --border: 2px solid rgb(12, 40, 41);
}

body * {
    font-size: 20px;
}

.container,
.display,
.btn {
    border: var(--border);
    border-radius: var(--border-radius); 
}

.container,
.display {
    padding: var(--default-padding);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20vw;
    height: max-content;
    margin: 0 auto;
    box-sizing: border-box;

    background-color: rgb(111, 94, 209);
}

.display {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: var(--default-padding);

    background-color: cadetblue;
}

.btn__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    /* font-size: 20px; */
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: max-content;
    padding: 15px;
    margin-bottom: var(--default-padding);

    /* font-size: 95%; */

    transition: background-color .2s;
}

.btn:active {
    background-color: rgb(204, 199, 233);
}

.btn--clear {
    width: 100%;
}